<!DOCTYPE html>
<html class="no-js" lang="fr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Curriculum Vitae de Jonathan Perron</title>

<link rel="stylesheet" href="static/css/normalize.css">
<link rel="stylesheet" href="static/css/foundation.min.css">
<link rel='stylesheet' href='static/img/webicons-master/webicons.css'>

<script src="static/js/modernizr.js"></script>
</head>

<body>
<!-- TOP BAR -->
<div class="row">
	<div class="large-12 columns">
		<div class="nav-bar right">
			<ul class="button-group">
				<li><a href="mailto:contact@jonathanperron.fr" class="webicon mail" >Mail</a></li>
				<li><a href="https://fr.linkedin.com/in/jonperron" target="_blank" class="webicon linkedin">LinkedIn</a></li>
				<li><a href="http://www.viadeo.com/p/0021mehr7y26qfn8" target="_blank" class="webicon viadeo">Viadeo</a></li>
				<li><a href="https://github.com/jonperron" target="_blank" class="webicon git">Github</a></li>
			</ul>
		</div>
		<h1>Jonathan Perron</h1>
		<hr/>
	</div>
</div>

<div class="row">
	<!-- MAIN CONTENT -->
	<div class="large-9 push-3 columns">
		<iframe src="{{ reverse_url('cv') }}" name="my-iframe" style="width: 100%; height: 600px; border: medium none;">iframe</iframe>
	</div>

	<!-- SIDE BAR -->
	<div class="large-3 pull-9 columns">
		<ul class="side-nav">
			<li><a href="{{ reverse_url('cv')}}#accueil" target="my-iframe" onclick="frames['my-iframe'].document.getElementById('activate').scrollIntoView();return false">Accueil</a></li>
			<li><a href="{{ reverse_url('cv')}}#apropos" target="my-iframe" onclick="frames['my-iframe'].document.getElementById('activate').scrollIntoView();return false">A propos de moi</a></li>
			<li><a href="{{ reverse_url('cv')}}#competences" target="my-iframe" onclick="frames['my-iframe'].document.getElementById('activate').scrollIntoView();return false">Compétences</a></li>
			<li><a href="{{ reverse_url('cv')}}#experiences" target="my-iframe" onclick="frames['my-iframe'].document.getElementById('activate').scrollIntoView();return false">Expériences</a></li>
			<li><a href="{{ reverse_url('cv')}}#formation" target="my-iframe" onclick="frames['my-iframe'].document.getElementById('activate').scrollIntoView();return false">Formation</a></li>
			<li><a href="{{ reverse_url('cv')}}#autres" target="my-iframe" onclick="frames['my-iframe'].document.getElementById('activate').scrollIntoView();return false">Autres</a></li>
			<li><a href="{{ reverse_url('cv_download')}}">Télécharger mon CV</a></li>
			<li><a href="mailto:contact@jonathanperron">Me contacter</a></li>
		</ul>
	</div>
</div>

<div id="footer">
	<footer class ="row">
		<hr/>
		<span><small>Powered by :</small></span>
		<a href="https://www.python.org/" target="_blank"><img src="static/img/Python-logo.png" alt="python-logo" height="24" width="24"></a>
		<a href="http://www.tornadoweb.org/en/stable/" target="_blank"><img src="static/img/tornado_logo.jpg" alt="tornado-logo" height="24" width="24"></a>
		<a href="https://www.raspberrypi.org/" target="_blank"><img src="static/img/Raspberry_Pi_Logo.png" alt="raspberrypi-logo" height="24" width="24"></a>
		<a href="http://nginx.org/"><img src="static/img/Nginx_logo.png" alt="nginx-logo" height="48" width="48"></a>
		<span style="float:right;">© Jonathan Perron, 2016</span>
	</footer>
</div>

<!-- JAVASCRIPT -->
<script src="static/js/vendor/jquery.min.js"></script>
<script src="static/js/foundation.min.js"></script>
<script src="static/js/stickyfooter.js"></script> <!-- http://foundation.zurb.com/forum/posts/629-sticky-footer -->
<script>
      $(document).foundation();
</script>
</body>
</html> 
